.list-group-item
  = form_with url: (defined?(stock) ? manage_point_of_sale_checkin_path(point_of_sale, stock) : manage_point_of_sale_checkins_path(point_of_sale)), method: (defined?(stock) ? :patch : :post), class: (defined?(stock) ? 'product-stock-record-edit' : 'product-stock-record') do |f|
    = f.hidden_field :product_id, value: product.id
    = f.hidden_field :pos_product_stock_id, value: product_stock.id
    .row.d-flex.align-items-center
      .col-5.col-sm-4.col-md-5.col-lg-7.pr-0
        span
          = product.title
          | &nbsp;
          span.d-none.d-sm-inline
            = "(#{product_stock.nil? ? nil : (product_stock.on_hand - (defined?(stock) ? stock.weight_kilogram : 0.0)).round(3)} кг)"
      .col-5.col-md-5.col-lg-3
        .input-group
          = f.text_field :weight_kilogram, value: (defined?(stock) ? stock.weight_kilogram.round(3) : nil), class: "form-control here", 'aria-describedby' => 'basic-addon3'
          .input-group-append
            small.d-block.d-sm-none.input-group-text#basic-addon3.rounded-right кг
            small.d-none.d-sm-block.input-group-text#basic-addon3 кілограми
      .col-md-2.col-sm-3.col-2
        .d-block.d-sm-none
          = button_tag type: 'submit', class: "btn btn-primary" do
            i.fa.fa-floppy-o
        .d-none.d-sm-block
          = f.submit 'Додати', class: "btn btn-primary"
