p#notice
  = notice
h1
  | Продукти
table.table
  thead
    tr
      th Назва
      th Вага Порції
      th Ціна Порції
      th[colspan="3"] Дії
  tbody
    - @products.each do |product|
      tr
        td
          = product.title
        td
          = product.variants.map(&:weight).join(', ')
        td
          = product.variants.map(&:price).join(', ')
        td
          = link_to 'Показати', [:manage, product], class: 'btn btn-info btn-sm'
        td
          = link_to 'Змінити', edit_manage_product_path(product), class: 'btn btn-warning btn-sm'
        td
          / = link_to 'Видалити', [:manage, product], method: :delete, data: { confirm: 'Точно хочете видалити?' }, class: 'btn btn-danger btn-sm'
br
= link_to 'Додати Продукт', new_manage_product_path, class: 'btn btn-success'
