p#notice
  = notice
h1
  | Manage Products
table
  thead
    tr
      th[colspan="3"]
  tbody
    - @products.each do |product|
      tr
        td
          = product.title
        td
          = product.variant.weight
        td
          = product.variant.price
        td
          = link_to 'Show', [:manage, product]
        td
          = link_to 'Edit', edit_manage_product_path(product)
        td
          = link_to 'Destroy', [:manage, product], method: :delete, data: { confirm: 'Are you sure?' }
br
= link_to 'New Manage Product', new_manage_product_path
