h1
  | Зміна Точки Продажу
= render 'form', point_of_sale: @point_of_sale
= link_to 'Покажи', [:manage, @point_of_sale], class: 'btn btn-info mr-1'
= link_to 'До Списку', manage_point_of_sales_path, class: 'btn btn-secondary'
