p#notice
  = notice
h1
  | Manage Point Of Sales
table.table
  thead
    tr
      th Назва
      th Місто
      th Адреса
      th[colspan="3"] Дії
  tbody
    - @point_of_sales.each do |point_of_sale|
      tr
        td
          = point_of_sale.title
        td
          = point_of_sale.place.city
        td
          = point_of_sale.place.address
        td
          = link_to 'Show', [:manage, point_of_sale], class: 'btn btn-info btn-sm'
        td
          = link_to 'Edit', edit_manage_point_of_sale_path(point_of_sale), class: 'btn btn-warning btn-sm'
        td
          = link_to 'Destroy', [:manage, point_of_sale], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm'
br
= link_to 'Додати Точку Продажу', new_manage_point_of_sale_path, class: 'btn btn-success'
