.list-group-item
  .row.d-flex.align-items-center
    .col-4.col-md-5.col-lg-7
      label.col-form-label[for=""]
        = stock.product.title
    .col-5.col-md-5.col-lg-3
      span.d-block.d-sm-none
        = stock.weight_kilogram
        | &#032;
        | кг
      span.d-none.d-sm-block
        = stock.weight_kilogram
        | &#032;
        | кілограми
      span.form-update
        = form_for stock, url: checkout_trade_point_of_sale_path(@point_of_sale), class: 'update-checkout', method: :patch do |f|
          = f.hidden_field :stock_id, value: stock.id
          = f.number_field :weight_kilogram
          span
            = f.submit 'Обновити'
    .col-sm-3.col-md-2.col-3
      .d-block.d-sm-none
        = button_tag type: 'submit', class: "btn btn-secondary" do
          i.fa.fa-pencil-square-o
      .d-none.d-sm-block
        button.btn.btn-secondary Змінити
