h1 Залишилося

table.table
  thead
    tr
      th Назва
      th Вага
      th Вага
  tbody
    - Product.all.each do |prod|
      tr
        = form_with model: @stock, url: checkout_trade_point_of_sale_path(id: @point_of_sale.id)  do |f|
          = f.hidden_field :product_id, value: prod.id
          = f.hidden_field :account_id, value: current_account.id
          = f.hidden_field :pos_id, value: @point_of_sale.id
          = f.hidden_field :kind, value: 'checkout'
          td
            .form-group.row
              label.col-4.col-form-label[for=""]
                = prod.title
          td
            .col-8
              = f.number_field :weight_kilogram, class: "form-control here"
          td
            .col-8
              = f.submit 'Зберегети'

= form_tag trade_point_of_sale_complete_change_path
  = submit_tag 'Завершити зміну', data: {confirm: 'Ти дійсно хочес завершити зміну?'}