h1
  | Співробітники
table.table
  thead
    tr
      th Ім'я
      th Телефон
      th[colspan="3"] Дії
  tbody
    - @accounts.each do |account|
      tr
        td
          = account.full_name
        td
          = account.phone
        td
          = link_to 'Показати', [:manage, account], class: 'btn btn-info btn-sm'
        td
          = link_to 'Змінити', edit_manage_account_path(account), class: 'btn btn-warning btn-sm'
        td
          / = link_to 'Видалити', [:manage, account], method: :delete, data: { confirm: 'Точно хочете видалити?' }, class: 'btn btn-danger btn-sm'
br
= link_to 'Додати Співробітника', new_manage_account_path, class: 'btn btn-success'
