h1 Create new account


= form_with(model: [:manage, @account], local: true) do |f|
  - if @account.errors.any?
    #error_explanation
      h2
        = pluralize(@account.errors.count, "error")
        |  prohibited this @account from being saved:
      ul
        - @account.errors.full_messages.each do |message|
          li
            = message
  .form-group.row
    label.col-4.col-form-label[for=""]
      = f.label :full_name, t('devise.hint_for_fields.full_name')
    .col-8
      = f.text_field :full_name, required: "required", class: "form-control here"
  .form-group.row
    label.col-4.col-form-label[for=""]
      = f.label :email, t('devise.hint_for_fields.email')
    .col-8
      = f.email_field :email, autofocus: true, autocomplete: "email", required: "required", class: "form-control here"
  .form-group.row
    label.col-4.col-form-label[for=""]
      = f.label :phone, t('devise.hint_for_fields.phone')
    .col-8
      = f.text_field :phone, required: "required", class: "form-control here"
  .form-group.row
    label.col-4.col-form-label[for=""]
      = f.label :point_of_sale
    .col-8
      = f.collection_select :point_of_sale_id, PointOfSale.all, :id, :title

  .form-group.row
    label.col-4.col-form-label[for=""]
      = f.label :password
      - if @minimum_password_length
        em
          | (
          = @minimum_password_length
          |  characters minimum)
    .col-8
      = f.password_field :password, autocomplete: "new-password", required: "required", class: "form-control here"

  .form-group.row
    label.col-4.col-form-label[for=""]
      = f.label :password_confirmation
    .col-8
      = f.password_field :password_confirmation, autocomplete: "new-password", required: "required", class: "form-control here"

  .form-group.row
    .offset-4.col-8
      = f.submit "Створити", class: "btn btn-primary"