.navbar.navbar-expand-md.navbar-light.bg-light.fixed-top
  a.navbar-brand href="#" EatMyNuts
  button.navbar-toggler type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"
    span.navbar-toggler-icon
  .collapse.navbar-collapse id="navbarToggleExternalContent"
    ul.navbar-nav
      - if current_account&.has_role? :manager
        li.nav-item
          = link_to 'Точки продажу', manage_point_of_sales_path, class: 'nav-link'
        li.nav-item
          = link_to 'Продукти', manage_products_path, class: 'nav-link'
        li.nav-item
          = link_to 'Люди', manage_accounts_path, class: 'nav-link'
      - elsif current_account&.has_role? :seller
        - if params[:action] == 'show'
          li.nav-item
            = link_to 'Завершити зміну', trade_point_of_sale_checkouts_path(@point_of_sale), class: 'nav-link'
        - if params[:action] == 'index'
          li.nav-item
            = link_to 'Торгувати', trade_point_of_sale_path(@point_of_sale), class: 'nav-link'
    ul.nav.navbar-nav.ml-auto
      - unless current_account
        li.nav-item
          = link_to 'Ввійти', new_account_session_url, class: 'nav-link'
      - else
        li.nav-item
          span.nav-link
            | Ви ввійшли як
            | &#32;
            = current_account.full_name
        li.nav-item
          = link_to 'Вийти', destroy_account_session_url, method: :delete, class: 'nav-link'
