doctype html
html
  head
    meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    title
      | Sips
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    = render 'layouts/nav-bar'
    .container
      - flash.each do |key, msg|
        div class="alert alert-dismissible fade show alert-#{key}" role="alert"
          = msg
          button.close type="button" class="close" data-dismiss="alert" aria-label="Close"
            span aria-hidden="true"
              | &times;
      = yield
