doctype html
html
  head
    meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
    title
      | Sips
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  body
    .navbar.navbar-expand-md.navbar-light.bg-light.fixed-top
      button.navbar-toggler type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation"
        span.navbar-toggler-icon
      .collapse.navbar-collapse id="navbarToggleExternalContent"
        ul.navbar-nav
          li.nav-item
            = link_to 'Точки продажу', manage_point_of_sales_path, class: 'nav-link'
          li.nav-item
            = link_to 'Продукти', manage_products_path, class: 'nav-link'
          li.nav-item
            = link_to 'Люди', manage_accounts_path, class: 'nav-link'
        - unless current_account
          = link_to 'Login', new_account_session_url, class: 'link_to_login'
          = link_to 'Sign_up', new_account_registration_url, class: 'link_to_sign_up'
        - else
          = link_to 'Log out', destroy_account_session_url, method: :delete, class: 'link_to_log_out'
        p.notice
          = notice
        p.alert
          = alert
        p = current_account.full_name if current_account
    .container
      = yield
